*{
    font-family: 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
}
.banner{
    background-image: url(https://via.placeholder.com/800x200);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: auto;
    color: black;
}
h1{
    font-size: 60px;
    margin: 6px;
}
.banner-text{
    opacity: 0.5 0.9;
}
.gallery{
     display: flex;
     justify-content: center;
     gap: 16px;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #444;;
    border-radius: 8px;
}
.dimmed {
  opacity: 0.5; 
}