* {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.menu {
  background-color: #333;
  padding: 10px;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menu a {
  color:gray;
  text-decoration: none;
  padding: 10px 15px;
}

.menu a:hover {
  color:goldenrod;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  color: white;
}

.dropdown-content a:hover {
  background-color: #555;
}


.signup-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.signup-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.signup-form input,
.signup-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signup-form input:focus,
.signup-form textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

.signup-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-form button:hover {
  background-color: #388E3C;
}

