*{
    font-family: 'Times New Roman', Times, serif;
}
.main{
    color:brown;
}
h2{
    color: cadetblue;
    position: relative;
}
h2:before{
    content: "(:";
    color: coral;
}
h2 + p {
  font-weight: italic;
}
.lead ~ p{
    margin-top: 4px;
}
div span:first-of-type{
    font-weight: bold;
}
div span:nth-of-type(even){
    color:#007acc;
}
input[type="text"]{
    border:1px solid #ccc;
    padding:8px;
}
input[type="password"]:focus{
    border:2px solid #e91e63;
    outline:none;
}