*{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 15px;
    padding:10px;
    border:2px solid red;
    width:350px;
    height: 200px;
     text-align: center;
     background-color: rgb(108, 52, 237);
}
#mini-box{
    margin: auto;
    padding:5px;
    border: 2px dashed black;
    width:250px;
    height: 80px;
    text-align: center;
}